@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Merriweather:ital,wght@0,300;1,300&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.material-icons.md-18 {
    font-size: 18px;
}
.material-icons.md-24 {
    font-size: 24px;
}
.material-icons.md-30 {
    font-size: 30px;
}
.material-icons.md-36 {
    font-size: 36px;
}
.material-icons.md-48 {
    font-size: 48px;
}

html {
    scroll-behavior: smooth;
}

body {
    box-shadow: 0 0 200px 80px rgb(0, 0, 0) inset;
}

/* 
    ====================
        LANDING PAGE 
    ====================
*/

#landing {
    height: 100vh;
    user-select: none;
}

#joker {
    height: 506px;
    width: 900px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url('../assets/images/comic\ joker\ crazed\ laughing.jpg');
    background-size: 900px;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 0 20px 10px rgb(0, 0, 0) inset;
    border-radius: 7px;
}

#scroll-down {
    position: absolute;
    top: 94%;
    left: 50%;
    transform: translateX(-50%);
}

/* 
    ====================
        AUDIO PLAYER     
    ====================
*/

.audio-player {
    padding: 7px 18px;
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 86%;
    transform: translateX(-50%);
}

.song-info {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.song-info * {
    font-family: 'Inter', sans-serif;
    color: rgb(41, 41, 41);
}

.song-name {
    font-size: 12px;
}

.artist {
    font-size: 10px;
}

.material-icons {
    color: rgb(41, 41, 41);
}

#song-control {
    margin-left: 24px;
    margin-right: 12px;
    cursor: pointer;
}

.progress-container {
    width: 300px;
    height: 5px;
    border-radius: 5px;
    background-color: rgb(230, 230, 230);
    cursor: pointer;
}

.progress {
    background-color: rgb(112, 77, 161);
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.05s linear;
}

/* 
    ===============
        ARTICLE     
    ===============
*/

main {
    height: 100vh;
    color: rgb(41, 41, 41);
}

.article {
    width: 680px;
    margin: auto;
    padding-top: 70px;
    padding-bottom: 100px;
}

.article-header {
    font-family: 'Inter', sans-serif;
}

.article-title {
    font-weight: 700;
    font-size: 46px;
    line-height: 56px;
    margin-bottom: -10px;
}

.article-info {
    font-size: 14px;
    margin-top: 32px;
}

.author {
    color: rgb(112, 77, 161);
    font-weight: 500;
    margin-right: 3px;
}

.article-body {
    font-family: 'Tinos', serif;
}

.article-body p {
    margin-top: 42px;
    margin-bottom: -10px;
    font-size: 21px;
    line-height: 32px;
}

/* 
    ===================
        BLOCKQUOTES     
    ===================
*/

blockquote {
    margin: 0;
    padding-left: 40px;
}

blockquote p {
    color: rgb(117, 117, 117);
    font-family: 'Merriweather', serif;
    font-weight: 300;
}

blockquote p:nth-child(1) {
    margin-bottom: -10px;
    font-size: 24px;
    line-height: 40px;
}

blockquote p:nth-child(2) {
    margin-top: 27px;
}

/* 
    ==============
        IMAGES     
    ==============
*/

figure {
    margin: 56px 0 0;
}

figure img {
    width: 100%;
}

figcaption {
    margin-top: 10px;
    color: rgb(117, 117, 117);
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}